In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
features_data = pd.read_csv('../datasets/train_preprocess.csv', parse_dates=['Dates'])

In [3]:
target = features_data['Category']
features = features_data[['X','Y']]

In [4]:
features.head()

            X          Y
0 -122.425892  37.774599
1 -122.425892  37.774599
2 -122.424363  37.800414
3 -122.426995  37.800873
4 -122.438738  37.771541

In [ ]:
from sklearn.neighbors import k