In [2]:
import pandas as pd
from sklearn.model_selection import KFold, StratifiedKFold

In [3]:
train_data = pd.read_csv("../datasets/train_preprocess.csv")

In [8]:
train_data.loc[:50]["Category"].value_counts()

LARCENY/THEFT     20
OTHER OFFENSES     8
NON-CRIMINAL       8
VANDALISM          4
ROBBERY            3
VEHICLE THEFT      3
WARRANTS           2
WEAPON LAWS        1
ASSAULT            1
BURGLARY           1
Name: Category, dtype: int64

In [7]:
target = train_data["Category"]
len(target.unique())

39

In [32]:
samples = train_data.sample(frac=0.01)
print(samples.shape, len(samples["Category"].unique()))

(8780, 22) 36

In [31]:
kflod_cv = KFold(n_splits=3, random_state=7)
kflog_split_info = kflod_cv.split(samples)

for train_i, test_i in kflog_split_info:
    print(len(train_i), len(test_i), \
          len(train_data.loc[train_i]["Category"].unique()), 
          len(train_data.loc[test_i]["Category"].unique()))

58536 29269 36 37
58537 29268 37 36
58537 29268 37 36

In [26]:
train_data.loc[[1,2]]

,Dates,Category,DayOfWeek,PdDistrict,Address,X,Y,Year,Month,Day,...,PdDistrictID,HasBlock,PositionType,PositionTypeID,RoadName1,RoadName2,RoadBlock,RoadBlockID,RoadName1ID,RoadName2ID
1,2015-05-13 23:53:00,OTHER OFFENSES,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,...,4,0,CrossRoad,5,OAK,LAGUNA,Unkown,84,1296,842
2,2015-05-13 23:33:00,OTHER OFFENSES,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,...,4,0,CrossRoad,5,VANNESS,GREENWICH,Unkown,84,1842,656