In [1]:
import pandas as pd

In [4]:
a = pd.DataFrame({'A':['a','b','c','a'],
                 'B':[1,2,3,1]})

print(a)

   A  B
0  a  1
1  b  2
2  c  3
3  a  1

In [8]:
b = a['A'].value_counts()
print(b)

a    2
c    1
b    1
Name: A, dtype: int64

In [11]:
type(b['a'])

numpy.int64

In [14]:
a.loc[0,'B'] = 10

In [15]:
a

   A   B
0  a  10
1  b   2
2  c   3
3  a   1

In [16]:
a.loc[0,'C']=100

In [17]:
a

   A   B      C
0  a  10  100.0
1  b   2    NaN
2  c   3    NaN
3  a   1    NaN

In [18]:
100/3

33.333333333333336

In [19]:
100//3

33