In [1]:
import pandas as pd
import numpy as np

In [2]:
yyy = pd.DataFrame(columns=['a'], data=np.arange(10))
yyy_tmp = yyy.loc[yyy['a']%2 !=0]
yyy

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [3]:
yyy_tmp.loc[:,'a'] = 100
yyy_tmp

d:\Anaconda3\envs\gym\lib\site-packages\pandas\core\indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

     a
1  100
3  100
5  100
7  100
9  100

In [4]:
yyy.merge(yyy_tmp)

Empty DataFrame
Columns: [a]
Index: []

In [5]:
yyy

   a
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [9]:
(yyy['a'] > 3) & (yyy['a'] < 6)

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
8    False
9    False
Name: a, dtype: bool

In [12]:
sttsss = pd.DataFrame(columns=['a'], data=['ab', 'one', 'xxy', 'ai', 'bi', 'abc'])

In [13]:
sttsss.loc[sttsss['a'].str.contains('a')]

     a
0   ab
3   ai
5  abc

In [14]:
sttsss.loc[sttsss['a'].str.contains('b')]

     a
0   ab
4   bi
5  abc

In [15]:
sttsss.loc[sttsss['a'].str.contains('a') & sttsss['a'].str.contains('b')]

     a
0   ab
5  abc

In [18]:
a123 = pd.DataFrame(columns=['a'], data=np.repeat(None, 10))

In [20]:
a123.loc[0,'a'] = 'asdf'

In [21]:
a123['a'].value_counts()

asdf    1
Name: a, dtype: int64

In [22]:
a123['a'].isna().value_counts()

True     9
False    1
Name: a, dtype: int64

In [29]:
x111 = np.array([0,1,2,3,10,2,3,10])
np.argwhere(x111 == 10)

array([[4],
       [7]], dtype=int64)

In [59]:
suffixs = np.array(["AL","AV","BL","CR","CT","DR","EX","HWY","HY","LN","PL","PZ","RD","ST","TR","WY","WAY"])

pd111 = pd.DataFrame(columns=['a'], data=['a', None, 'b', None, 'c', None])

pd111.loc[pd111['a'].isna(),'a']
# for b in suffixs:
#     pd111.loc[pd111['a'].isna(),'a'] = b

# pd111.head()

1    None
3    None
5    None
Name: a, dtype: object

In [60]:
a222 = ["AL","AV","BL","CR","CT","DR","EX","HWY","HY","LN","PL","PZ","RD","ST","TR","WY","WAY"]
for i,d in enumerate(a222):
    print(i, d)

0 AL
1 AV
2 BL
3 CR
4 CT
5 DR
6 EX
7 HWY
8 HY
9 LN
10 PL
11 PZ
12 RD
13 ST
14 TR
15 WY
16 WAY

In [74]:
a33 = [1,2,3]
b33 = [11,22,33]
c33 = [111,222,333]
d33 = zip(a33, b33, c33)

In [75]:
import itertools

In [79]:
for a in itertools.product(a33,b33,c33):
    print(a)

(1, 11, 111)
(1, 11, 222)
(1, 11, 333)
(1, 22, 111)
(1, 22, 222)
(1, 22, 333)
(1, 33, 111)
(1, 33, 222)
(1, 33, 333)
(2, 11, 111)
(2, 11, 222)
(2, 11, 333)
(2, 22, 111)
(2, 22, 222)
(2, 22, 333)
(2, 33, 111)
(2, 33, 222)
(2, 33, 333)
(3, 11, 111)
(3, 11, 222)
(3, 11, 333)
(3, 22, 111)
(3, 22, 222)
(3, 22, 333)
(3, 33, 111)
(3, 33, 222)
(3, 33, 333)

In [81]:
dict111 = {'a':1,'b':1}
dict222 = dict111

dict222['a'] = 10

In [82]:
print(dict111, dict222)

{'a': 10, 'b': 1} {'a': 10, 'b': 1}

In [83]:
dict333 = dict111.copy()

In [84]:
dict111['a'] = 1000

In [85]:
print(dict111, dict222, dict333)

{'a': 1000, 'b': 1} {'a': 1000, 'b': 1} {'a': 10, 'b': 1}

In [88]:
dict44 = {'b':1, 
         'c':4,
         'a':23}
list(dict44)

['b', 'c', 'a']

In [90]:
for a in itertools.product([[1,2],[3,4]]):
    print(a)

([1, 2],)
([3, 4],)

In [92]:
"_".join(str([0.1]))

'[_0_._1_]'

In [93]:
str([0.1])

'[0.1]'

In [96]:
pd.DataFrame(data={'a':[100], 'b':[200]})

     a    b
0  100  200